# Gradle
.gradle/
build/
out/
classes/
!gradle/wrapper/gradle-wrapper.jar

# Eclipse
*.launch
.settings/
bin/
*.classpath
*.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Minecraft specific
run/
